/* Atur gaya dasar untuk halaman */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.heading {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.heading h1 {
  text-align: center;
  width: 60%;
  color: #007bff;
}

.heading span {
  margin: auto;
  width: 20%;
  color: rgb(53, 53, 53);
}

.heading #time {
  text-align: left;
}

.heading #date {
  text-align: right;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  width: 100%;
  height: 65px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card-grid {
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.card {
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 12px;
}

.card span {
  display: block;
  padding: 4px;
  font-size: x-large;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.card #volume, #weight {
  font-size: xx-large;
}

button {
  display: block;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

button:hover {
  background-color: #0d57a7;
}

#results {
  margin-top: 20px;
}
